// About.scss

.about {
  margin-bottom: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  #heading {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 30px;
    >p{
      font-size: 17px;
        color: gray;
        font-weight: 600;
      }
      >.button-like{
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 700;
        padding: 8px 20px;
        background-color: #e7f1fd;
        color: #106eea;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 50px;
    }
    >h2{
      padding: 20px;
      font-size: 36px;
      >span{
        color: #106eea;
    }
  }
  }

  #two-rows3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Center items horizontally

    img {
      max-width: 80%; // Set maximum width to 80%
      height: 70vh; // Set height to 80% of viewport height
      border-radius: 15px;
      margin: 0 10% 20px 10%; // 10% margin from left and right, 20px margin from the bottom

      @media screen and (max-width: 726px) {
        height: auto; // Set auto height for smaller screens
        margin: 0px 10% 10px 10%; // Adjust styles for smaller screens
        margin-bottom: -15px;
      }
    }
    #list-items1 {
      max-width: 80%; // Set maximum width to 80%
      text-align: center; // Center text
      h2 {
       align-items: center;
       justify-content: center;
      }

      ul {
          color: rgb(119, 119, 119);
          line-height: 40px;
          justify-content: center;
          align-items: center;
          list-style-type: none;
          padding: 0;

        li {
          margin-bottom: 25px;
        }
      }
    }

    @media screen and (min-width: 727px) {
      // Adjust styles for screens greater than 726px
      flex-direction: row;
      align-items: center;

      img {
        margin: 0 10% 0 0; // 10% margin from right, 0 margin from left and bottom
      }
    }
  }
}
