@import '../../app.scss';

*{
    margin: 0;
    padding: 0;
}
header{
    // overflow: hidden;
    width: 100%;
    margin-top: -10pxs;
    height: 40px;
    background: black;
    // background: linear-gradient(338deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,0.017331932773109293) 100%);
    align-items: center;
    display: flex;
    justify-content: space-between;
    >#mail{
        margin-left: 10%;
        display: flex;
        gap: 20px;
        text-decoration: none;
    }
    a{
        color: white;
        font-size: 18px;
        text-decoration: none;
    }
    #links{
        font-size: 20px;
        margin-right: 10%;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        gap: 20px;
        
    }
    #twitter-icon:hover{
        color:white;
    }
    #facebook-icon:hover{
        color:white;
    }
    #instagram-icon:hover{
        color:white;
    }
    #linkedin-icon:hover{
        color:white;
    }
    @media (max-width: 768px) {
        #links {
          display: none; /* Adjust the aspect ratio for smaller screens */
        }
        >#mail{
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            font-family: sans-serif;
            align-items: center;
        }
    }
}