@import '../../app.scss';

.grid-container {
    justify-content: center;
    align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: auto;
  box-sizing: border-box;

  @media (max-width: 726px) {
    margin-top: 80%;
    justify-content: center;
    align-items: center;
    display: flow-root;
    line-height: 1;
    grid-template-columns: 1fr; /* Single column for screens <= 726px */
  }
}

.grid-item {
  color: #000;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: #fff; /* Set your text color */

  h2,
  h1 {
    color: #000;
    margin: 20px 0;
  }

  p {
    color: #000;
    margin: 10px;
    font-size: 16px;
  }

  li {
    color: #000;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
  }

  .socail-links {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;

    li {
      position: relative;

      i {
        font-size: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #56aee9;
        }
      }
    }
  }

  @media (max-width: 726px) {
    padding: 0;
  }
}
