@import '../../app.scss';

#location {
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr; /* Two equal columns */

  @media (max-width: 726px) {
    flex-wrap: wrap;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    grid-template-columns: 1fr; /* Single column for screens <= 726px */
  }

  .left-column {
    width: 360px;
    height: 400px;
    padding: 20px;
    >#locationframe{
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      display: flex;
    }
  }

  .right-column {
    padding: 20px;
  }
}


#fom {
  padding: 2%;
  margin-top: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  width: 350px;
  border-radius: 10px;
  height: 450px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    margin-left: 15px;
  }

  form {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: block;
    >input{
      margin: 10px;
      align-items: flex-start;
    }
      textarea {
        height: 20px;
        font-size: 15px;
        padding: 15px;
        border-radius: 10px;
      }

      input {
        text-transform: capitalize;
        padding: 15px;
        border-radius: 10px;
      }

    #btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12%;

      button {
        border-radius: 10px;
        border: none;
        border: transparent;
        background-color: rgb(17, 110, 235);
        padding: 15px 28px;
        color: #fff;
        font-family: sans-serif;

        &:hover {
          background-color: rgb(37, 120, 229);
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 726px) {
    #location{
      grid-template-columns:300px;
    }
  }
}
@media (max-width: 726px) {
  #location{
    gap: 10px;
    margin-top: 120%;
    height: 100vh;
    #fom{
      justify-content: center;
      align-items: center;
      height: auto;
      >form{
        justify-content: center;
        align-items: center;
        width: 80%;
        >input{
          width: 100%;
        }
        #text_area{
          >textarea{
            width: 100%;
            margin-left: 10px;
          }
        }
      }
    }
  }
  iframe {
    width: 400px;
    border-radius: 10px;
    height: 400px; // Adjust the iframe height for smaller screens
  }

  form {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-top: 0;
  }
}

